---
import "../styles/global.css";
---

<section id="about" class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-8">
  <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white" data-i18n="about.title">Acerca de mí:</h2>
  
  <div class="h-1 w-24 bg-blue-600 dark:bg-blue-400 mb-6"></div>
  
  <div>
    <p class="text-gray-700 dark:text-gray-300 leading-relaxed mb-4" data-i18n="about.description">
      Étudiante à l'université de Paris en licence Médias et communication, je réfléchis de manière créative et j'aime résoudre des problèmes, toujours à l'écoute des dernières tendances et méthodes autour de la création de contenu numérique. Quand je ne suis pas occupée par mes études ou en train de travailler sur mes propres projets médias, vous pouvez me trouver en train d'esquisser de nouvelles idées ou bien en train d'écrire des textes académiques sur la façon dont la technologie, les médias et la société s'influencent les uns les autres.
    </p>
  </div>
</section>
